{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">

        <h1> Goku </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quibusdam totam magni repellat debitis, ea dicta veniam voluptatem eos sunt nobis obcaecati. Omnis facere voluptatum doloremque iure, veniam molestiae vitae?
        </p>

    </div>

    <div class="col-4">

        <img src="assets/img/goku.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer}}